<div ng-controller="dashboardController">
		<ej-schedule id="Schedule1" e-width="100%" e-height="525px" e-currentview="currentView" e-currentdate="Date" e-enableloadondemand="true"
            e-appointmentsettings-datasource="appointments" 
			e-appointmentsettings-id="id" 
			e-appointmentsettings-subject="name" 
			e-appointmentsettings-starttime="startTime"
			e-appointmentsettings-endtime="endTime" 
			e-appointmentsettings-description="comments" 
			e-appointmentsettings-allday="isAllDay" 
			e-appointmentsettings-recurrence="isRecurrence" 
			e-appointmentsettings-recurrencerule="recurrenceRule">
	    </ej-schedule>
	</div>