<div class="row mt-5 mb-5">
    <div class="col-6 offset-3">
       <h2 class="mb-3">Sign in to access your calendar.</h2>
        <form ng-submit="login()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" placeholder="Username" class="form-control" ng-model="loginData.userName"/>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="text" placeholder="Password" class="form-control" ng-model="loginData.password"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary"/>
            </div>
            <div ng-hide="message == ''" class="alert alert-danger">{{message}}</div>
        </form>
    </div>
</div>

